.sidebarContainer {
	width: 27%;
}

.cardHeader {
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
	letter-spacing: 2px;
	color: #333;
}

.profileContainer {
	width: 100%;
}

.profileContainer img {
	max-width: 100%;
	max-height: 100%;
	margin: 10px 0;
}

.cardBody p {
	font-size: 14px;
	color: #565673;
	font-weight: 300;
}

.recentPosts {
	padding: 20px 0;
}

.recentPost {
	border-bottom: 1px solid #eee;
}

.recentPost h3 {
	font-weight: 500;
	color: #6c6c6c;
	letter-spacing: 1px;
	font-size: 16px;
	margin: 0;
}

.recentPost span {
	font-size: 10px;
	font-weight: 400;
	color: #ccc;
	display: block;
	margin: 10px 0;
}
